<ng-template ngFor let-films [ngForOf]="getAllFilms">
    <a class="films">

        <section class="filme_title mat-elevation-z20">
            <div class="flex-container" flex>

                <div class="flex-child">
                    <h1 class="title">
                        {{films.title}}
                    </h1>
                </div>
                <p class="director">
                   Director: {{films.director}}
                </p>

                <h2 class="date">
                    Release date: {{films.release_date}}
                </h2>

                <p>
                    {{films.opening_crawl}}
                </p>

            </div>

        </section>
    </a>
</ng-template>