<ng-template ngFor let-people [ngForOf]="getAllPeople">
  <a class="people">

      <section class="filme_title mat-elevation-z20">
          <div class="flex-container" flex>

              <div class="flex-child">
                  <h1>
                     {{people.name}}
                  </h1>
              </div>
              <h4>
                  Birth year: {{people.birth_year}}
              </h4>

              <h4>
                  Gender: {{people.gender}}
              </h4>

              <h4>
                  Height: {{people.height}}
              </h4>

          </div>

      </section>
  </a>
</ng-template>