.header-style{
    background-color: rgb(31, 31, 31);
    color: yellow;
    font-family: monospace;
    font-size: 22px;
}
.deathstar-logo{
    width: 2%;
    height: auto;
    display: block;
}
.spacer{
    flex: 1 1 auto;
}


