<div class="container">
    <div class="stars">
        <div class="header">
            <mat-toolbar class="header-style mat-elevation-z8">
                <img class="deathstar-logo" src="/assets/images/saber-logo.png" alt="logo star wars">
                <span class="name-logo">Star Wars Wiki</span>

                <div class="spacer"></div>
                <!-- categories -->
                <div class="menu-options">
                    <a mat-button routerLink="home">Home</a>
                    <a mat-button routerLink="movies">Movies</a>
                    <a mat-button routerLink="characters">Characters</a>
                    <a mat-button routerLink="planets">Planets</a>
                </div>

            </mat-toolbar>
        </div>
    </div>
</div>

  