<!-- lines about initial description -->
<div class="description-overview" flex>
    <div class="img-descript">
        <img class="star-logo" src="/assets/images/logo-star.png" alt="logo star wars">
        <img class="lightsaber-logo" src="/assets/images/lightsaber-logo.png" alt="lightsaber">
    </div>
    <div class="card-info">
        <mat-card class="description-card" style="text-align:center">
            <mat-card-subtitle>
                {{longText}}
            </mat-card-subtitle>
            <mat-card-content>
                StarWars Wiki, tem como objetivo fazer uso do aprendizado 
                <br>da TrailHead referente a Front-End. 
                <p></p>
                O intuito deste projeto final é fazer o consumo da "SWAPI API",  
                <br>com informações referente as franquias de StarWars. 
                <p></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
